.product-card {
    width: 210px;
    border-radius: 15px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    /* background: #f9f9f9; */
    /* стандарт */
    /* background: #3498db; */ 
    /* Голубой фон */
    /* background: #87CEEB;  */
    /* Светло-голубой фон */
    background: #f2f2f2;
        /* Светло-серый фон */
    position: relative;
    transition: transform 0.2s;
    
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    /* max-height: 200px; */
    object-fit: cover;
}

.product-info {
    padding: 16px;
    text-align: left;
}

.product-title {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.product-description {
    font-size: 16px;
    margin: 10px 0;
}

.product-price {
    font-size: 32px;
    font-weight: bold;
    color: #e74c3c;
    margin: 10px 0;
}

.add-to-cart {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

.add-to-cart:hover {
    background: #c0392b;
}